<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta id="boardsize" data-x="{{x}}" data-y="{{y}}">
        <title>Memory Game</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <script src="{{ url_for('static', filename='script.js') }}" async></script>
    </head>
    <body onLoad="newGameBoard(); setHudWidth();">
        <div class="wrapper">
            <header>Memory<span class="game">Game</span></header>
                <div id="hud" class="hud">
                    <div class="back-button" onClick="location='{{url_for('index')}}'">
                        <i class="fas fa-caret-left"></i> Go Back
                    </div>
                    <div class="time">
                            <i class="fas fa-clock"></i> 2:43
                    </div>
                </div>
            </header>     
            <div class="outer-center">
                <div class="inner-center">
                    <div id="gameboard"></div>
                </div>
            </div>
        </div>
    </body>
</html>