<!DOCTYPE html>
<html>
{% include 'head.html' %}

<body onLoad="menuFadeIn();">
    <div class="wrapper unselectable">
        <header>Memory<span class="game">Game</span>
        </header>
        <div class="board-options js-fade fade-in-menu is-paused">
            <form name="gameOptions" action="{{url_for('start_game')}}" method=POST>
                <div>
                    <label for="select-y">Number of rows:</label>
                    <br>
                    <select id="select-y" name="y" required>
                        <option value="" disabled selected>Please select a number</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                    </select>
                </div>
                <div>
                    <label for="select-x">Number of columns:</label>
                    <br>
                    <select id="select-x" name="x" required>
                        <option value="" disabled selected>Please select a number</option>
                        <option value="2">2</option>
                        <option value="4">4</option>
                        <option value="6">6</option>
                        <option value="8">8</option>
                    </select>
                </div>
                <div class="menu-play-scene">
                    <div class="menu-play" onClick='submit();'>Play</div>
                </div>
            </form>
        </div>
    </div>
</body>
<script> </script>
</html>